.App {
  text-align: center;
}
* {
  line-height: normal;
}
h1 {
  margin-bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.wel-css {
  font-size: 65px;
  margin-bottom: 14px;
}

.card h5 {
  font-size: 28px;
}

.card li {
  font-size: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 170px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  font-size: 18px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portfolio-block.block-intro .avatar {
  background-image: url(./assets/img/avatars/avatar.jpg);
}

.portfolio-laptop-mockup .screen .screen-content {
  background-image: url(./assets/img/tech/image4.jpg);
}

.portfolio-block.block-intro .sub-para {
  font-size: 24px;
}
